@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.windows
{
    position: absolute;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    top: 1400px;
    left: 60px;
}
.windows .byte
{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition: 0.5s;
}
.windows .byte:hover
{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.windows .byte .imgbx
{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.windows .byte .imgbx:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #1CB5E0 0%, #000851 100%);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.windows .byte:hover .imgbx:before
{
    opacity: 1;
}
.windows .byte .imgbx img
{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.windows .byte .info
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}
.windows .byte .info h2
{    
    position: absolute;
    top: 10px;
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 40px;
    transform: translateY(401px);
}
.windows .byte:hover .info h2
{
    transform: translateY(0);
}
.windows .byte .info p
{
    color: #fff;
    transform: translateY(401px);
    transition: 0.5s;
    font-size: 25px;
}
.windows .byte:hover .info p
{
    transform: translateY(0);
}


.win
{
    position: absolute;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    top: 1400px;
    right: 10px;
    left: 600px;
}
.win .by
{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition: 0.5s;
}
.win .by:hover
{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.win .by .imgx
{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.win .by .imgx:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #861657 0%, #ffa69e 74%);

    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.win .by:hover .imgx:before
{
    opacity: 1;
}
.win .by .imgx img
{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.win .by .envo
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}
.win .by .envo h2
{    
    position: absolute;
    top: 10px;
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 40px;
    transform: translateY(401px);
}
.win .by:hover .envo h2
{
    transform: translateY(0);
}
.win .by .envo p
{
    color: #fff;
    transform: translateY(401px);
    transition: 0.5s;
    font-size: 25px;
}
.win .by:hover .envo p
{
    transform: translateY(0);
}
.container
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
    left: 60px;
    top:700px;
}
.container .box
{
    position: relative;
    width: 320px;
    height: 400px;
    color: #fff;
    background: none;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px 30px;
    transition: 0.5s;
}
.container .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
.container .box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}
.container .box:hover:before,
.container .box:hover:after
{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}
.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
    background: linear-gradient(315deg,#ffbc00,#ff0058);
}
.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after
{
    background: linear-gradient(315deg,#7ee8fa,#2a2a72);
}
.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after
{
    background: linear-gradient(315deg,#f53844,#42378f);
}    
.container .box span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.container .box span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.container .box span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}
.container .box:hover span::after
{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container .box:hover span::before
{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate
{
    0%,100%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(10px);
    }
}
.container .box  .content
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}
.container .box:hover .content
{
    left: -25px;
    padding: 60px 40px;
}
.container .box:hover .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.container .box:hover .content p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

h1 {
    position: absolute;
    left: 100px;
    top: 10px;
    font-size: 14vw;
    color: #111;
    -webkit-text-stroke: 0.3vw #111;
    text-transform: uppercase;
  }
h1::before
{
    content: attr(data-text);
    position: absolute;
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #80d0ff;
    -webkit-text-stroke: 0vw #111;
    border-right: 2px solid #80d0ff;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 64.5%;
    }
}   